# Token de la API Pública de Categorías Finanzas360
FINANZAS360_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJVU1IwMDAxIiwiZW1haWwiOiJhcGlAZmluYW56YXMzNjAuY29tIiwidWlkIjoiVVNSMDAwMSIsIm5vbWJyZXMiOiJBUEkiLCJhcGVfcGF0ZXJubyI6IlBVQkxJQ0EiLCJhcGVfbWF0ZXJubyI6IiIsImp0aSI6IjM5MWUwMjA4LTFmYzYtNDZmNi1hNWY5LTY0ZTljYTBkMGY1OSIsImlzcyI6IkZpbmFuemFzMzYwQVBJIiwiYXVkIjoiRmluYW56YXMzNjBDbGllbnQifQ.dWETXFzAc8TXAqwkBnyJ0Vf7cBHSOEq5RCyaJAKiY0M
